In [126]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt, matplotlib.image as mpimg

from scipy import ndimage as ndi
from skimage import feature

In [127]:
# Read the training data file
df = pd.read_csv('../Data/train.csv', low_memory = False, header=None, skiprows=1)

In [169]:
df_small = df.iloc[:10000]
df_small.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [249]:
# extract outputs and inputs to y and x
y = df_small[0]
x = df_small.drop(0, axis=1)

In [258]:
def image_prep(row):
    # reshape row
    row = row.values.reshape((28,28))
    
    # invert row
    row = 1 - row
    
    # percentile filter below
    row = abs(ndi.percentile_filter(row, percentile=20, size=2))
#     # Gaussian filter below
#     row = ndi.gaussian_filter(row.values.reshape((28,28)), sigma=1)
    
#     # add sobel figures below
#     sobel = abs(ndi.sobel(row))/100
#     row = row + sobel
    
    return row.reshape(784)

In [250]:
x = x.apply(image_prep, axis=1)
x.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [241]:
y.head()

0    1
1    0
2    1
3    4
4    0
Name: 0, dtype: int64

In [251]:
x.iloc[0, 100:200]

101      0
102      0
103      0
104      0
105      0
106      0
107      0
108      0
109      0
110      0
111      0
112      0
113      0
114      0
115      0
116      0
117      0
118      0
119      0
120      0
121      0
122      0
123      0
124      0
125      0
126      0
127      0
128      0
129      0
130      0
      ...
171      0
172      0
173      0
174      0
175      0
176      0
177      0
178      0
179      0
180      0
181      0
182      0
183      0
184      0
185      0
186      0
187      0
188      0
189    191
190    167
191     10
192      0
193      0
194      0
195      0
196      0
197      0
198      0
199      0
200      0
Name: 0, dtype: int64

In [252]:
# train_test_split?
X_train, X_test, y_train, y_test =  train_test_split(x, y, test_size=0.2, stratify = y)

In [253]:
X_test.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
1559,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2468,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7758,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7508,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [110]:
def train(X,Y):
    clf = KNeighborsClassifier(n_neighbors=101, weights='distance')
    clf.fit(X, Y)
    return clf

In [111]:
def predict(clf,x,y):
    return (y, clf.predict(x), clf.score(x,y))

In [254]:
clf = train(X_train, y_train)
actual, prediction, accuracy = predict(clf, X_test, y_test)

In [255]:
accuracy

0.79249999999999998

In [256]:
result = pd.DataFrame({'actual':actual, 'prediction':prediction})
result.head(10)

      actual  prediction
1559       1           1
2468       2           4
7758       0           0
7508       0           0
6640       0           0
1082       9           1
9053       7           7
1293       4           4
847        5           3
3043       0           0

In [257]:
errors = len(result[result['actual'] != result['prediction']])
print(1-(errors/10000))

0.9585